.restaurant-container{
    padding: 12px 150px 20px;
    display: flex;
    
    background-color: #eee;
    .detail-restaurant{
        flex: 0 0 auto; /* Phần này không co dãn, giữ kích thước cố định */
        width: 65%;
        margin-right: 20px; /* Tạo khoảng cách giữa hai phần */
        

        .section-customize{  
            .bg-image{
                height: 370px;
                width: 100%;
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
                border-radius: 10px;
            }
        }
        .content{
            background-color: #ffffff;
            border-radius: 10px;
            width: 100%;
            margin: 10px 0 0 0;
            box-shadow: none;
            .name-restaurant{
                padding: 10px 10px 20px 20px;
                font-size: 24px;
                font-weight: bold;
                color: #ae0001;
                
            }


            .address-restaurant{
                padding: 0 10px 20px 0;
            }
            .type{
                padding: 0 10px 20px 0;
                font-weight: bold;
            }
            .list {
                display: grid;
                grid-template-columns: repeat(5, 1fr); /* Chia cột thành 5 phần bằng nhau */
                justify-items: center; /* Căn giữa nội dung theo chiều ngang */
                margin-top: 20px;
                padding-bottom: 10px;
            }

            .des{
                font-weight: bold;
                margin-bottom: 30px;
                padding: 10px 10px 20px 20px;
            }

            .content-down{
                border-top: none;
                padding-top: 10px;      
            }
            
        }
        .detail-info-restaurant{
            background-color: #ffffff;
            border-radius: 10px;
            width: 100%;
            margin: 10px 0 0 0;
            box-shadow: none;
            padding: 20px 10px 20px 20px;
        }
    }
    .schedule-restaurant{
        position: sticky !important;
        top: 71px;
        flex: 1; /* Phần này co dãn để sử dụng phần còn lại của không gian */
        padding: 10px 10px;
        height: 100%;
        background-color: #ffffff;
        border-radius: 10px;
        .book-restaurant{
            font-weight: 600;
            color: #ae0001;
            text-align: center;
        }
    }
        
    }
