.restaurant-extra-info-container{
    padding-left: 20px;
    .content-up{
        margin-bottom: 10px;
        > * {
            margin-bottom: 5px;
        }
        .name-restaurant{
            padding: 5px 0;
            font-weight: 600;
            color: #ae0001;
        }
        .address-restaurant {
            i {
                margin-right: 5px; /* Thêm khoảng trắng bên phải của biểu tượng */
            }
            
            font-weight: 600;
        }
        .type{
            font-weight: 600;
        }
        .short-info{
            .price{
                font-weight: 600;
            }
            
            
        }
    }
    .content-down{
        border-top: none;
        padding-top: 10px;      
    }
}