.hotpot-extra-info-container{
    padding-left: 15px;
    .content-up{
        margin-bottom: 10px;
        .text-address{
            text-transform: uppercase;
            color: #cb161c; 
        }
        .name-restaurant{
            padding: 5px 0;
            font-weight: 600;
            color: #cb161c;
        }
        .address-restaurant{
            font-weight: 600;
            color: #cb161c;
        }
    }
    .content-down{
        .short-info{
            span{
                cursor: pointer;
                color: #00838f
            }
        }
        .title-price{
            margin-bottom: 10px;
        }
        .detail-info{
            border: 1px solid #ddd;
            padding: 5px;
            background-color: #f8f8f8;
            .price{
                padding-bottom: 5px;
                .right{
                    float: right
                }
            }
            .note{

            }
        }

        .payment{
            border: 1px solid #ddd;
            padding: 5px;
            background-color: #eee
        }

        .hide-price{
            margin-top: 10px;
            span{
                cursor: pointer;
                color: #00838f
            }
        }
        
    }
}