.hotpot-extra-info-container{
    padding-left: 20px;
    .content-up{
        margin-bottom: 10px;
        .name-restaurant{
            padding: 5px 0;
            font-weight: 600;
            // color: #ae0001;
        }
        .address-restaurant {
            i {
                margin-right: 5px; /* Thêm khoảng trắng bên phải của biểu tượng */
            }
        }
        .short-info{
            .price{
                text-transform: uppercase;
                font-weight: 600;
            }

            .detail{
                cursor: pointer;
                color: #00838f
            }

            .currency{
                margin: 0 5px;
            }
        }
    }
    .content-down{
        border-top: none;
        padding-top: 10px;      
    }
}